.ActionBar {
    @include mainContainer;
    background:$color-secondary-yellow;
    align-items: center;

    @include respond(over-max) {
      border-radius: 8px;
    }

     @include respond(phone) { 
      flex-direction: column;
    }

    &__text {
      color: $color-primary-green;
      font-size: 3.2rem;
      font-family: Inter;
      font-weight: 500;
      line-height: 1.2;

      @include respond(phone) {  
        margin-bottom: 2.4rem;
      }
    }
}