.FeatureCard {
  display: flex;
  flex-direction: column;
  background-color: $color-gray;
  border: 0.5px solid $color-oil;
  color: $color-oil;
  border-radius: 8px;
  margin-right: 3.2rem;
  padding: 1.6rem;
  width: 44%;
  margin-bottom: 2.4rem;

  @include respond(phone) {
    width: 100%;
    margin-right: 0;
  }
  
  &__link {
    border-bottom: 1px solid $color-oil;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    svg {
      width: 15px;
      height: 11.86px;
      margin-left: 0.5rem;
      margin-bottom: -2px;

      path {
        fill: $color-oil;
      }
    }
  }

  &__subtitle {
    line-height: 1.5;
    margin-bottom: 1.6rem;
  }

  &:nth-child(2n) {
    margin-right: 0;
  }
}