.Footer {
  @include mainContainer;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $color-oil;
    border-bottom: 1px solid $color-oil;
    padding: 3.2rem 0rem
  }

  &__column {
    display: flex;
    flex-direction: column;
    // width: 236px;
    font-family: Inter;
    margin-right: 64px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__column-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
  }

  &__column-link {
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 1.2rem;
    cursor: pointer;
    color: #696969;

    &:last-child {
      margin-bottom: 0;
    }
  }

   &__column-text {
     font-size: 1.6rem;
     color: #696969;
   }

  &__info {
    margin-top: 1.6rem;
  }
}