.Header {
  display: flex;
  // position: sticky;
  top: 0;
  background: $color-light-background;
  color: $color-oil;
  width: 100%;
  z-index: 1000;
  transition: background ease 450ms;

  &__logo {
    font-size: 2.2rem;
    font-weight: 600;
    flex: 0.3;
  }
  
  &__container {
    display: flex;
    width: 100%;
    @include mainContainer;
    margin-bottom: unset;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px !important;
    padding-bottom: 22px!important;

     @include respond(phone) {  
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    margin-bottom: 0;

    form {
      display: none;
    }
  }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.3;

    @include respond(phone) {
      display: none;
    }

    a {
      font-size: 2rem;
      text-decoration: underline;
      transition: color ease 450ms;
      color: $color-oil;
      font-weight: 500;
      margin-right: 2.4rem;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #E96E1F;
      }
    }

    form {
      height: 36px;
      margin-left: 32px;

      button, input {
        font-size: 1.4rem;
        width: auto;
      }

      input {
        // border-radius: 6px 0 0 6px;
        border-radius: 4px;
      }

      button {
        // border-radius: 0px 6px 6px 0px;
        border-radius: 4px;
        padding: 0 10px;
      }
    }
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
    // flex: 0.3;
    align-self: flex-end;

    @include respond(phone) {
      display: none;
    }

    a {
      margin-right: 1.6rem;

      &:last-child {
      margin-right: 0;
    }
    }
  }

  &__is-fixed {
    position: sticky;
    background: $color-white;
    animation: slideIn 650ms ease forwards;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);

    color: $color-oil;

    @keyframes slideIn {
      from {
        top: -100px;
      }
      to {
        top:0;
      }
    }
  }

  &__hamburger {
    display: none;

    @include respond(phone) {
      display: block;
      background: none;
      border: none;

      &:focus {
        outline: none;
      }

      svg {
        width: 22px;

        path {
          fill: $color-oil;
        }
      }
    }
  }

  &__mobile-menu {
    display: none;

    &.open {
      position: fixed;
      z-index: 1000;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background: #f1f1f1;
    }

    &__mobile-links {
    display: flex;
    flex-direction: column;

    a {
      font-size: 2rem;
      text-decoration: underline;
      transition: color ease 450ms;
      color: $color-oil;
      font-weight: 500;
      margin-right: 2.4rem;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: #E96E1F;
      }
      }
    }
  }
}