.Header {
  display: flex;
  // position: sticky;
  top: 0;
  background: $color-primary-green;
  color: $color-secondary-yellow;
  width: 100%;
  z-index: 1000;
  transition: background ease 450ms;

  &__logo {
    font-size: 20px;
    font-weight: 600;
  }

  &__container {
    display: flex;
    width: 100%;
    @include mainContainer;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px !important;
    padding-bottom: 26px!important;

     @include respond(phone) {  
    padding-top: 16px!important;
    padding-bottom: 16px!important;

    form {
      display: none;
    }
  }
  }

  &__links {
    display: flex;
    align-items: center;

    a {
      font-size: 1.6rem;
      text-decoration: underline;
      transition: color ease 450ms;

      &:hover {
        color: #E96E1F;
      }
    }

    form {
      height: 36px;
      margin-left: 32px;

      button, input {
        font-size: 1.4rem;
        width: auto;
      }

      input {
        border-radius: 6px 0 0 6px;
      }

      button {
        border-radius: 0px 6px 6px 0px;
        padding: 0 10px;
      }
    }
  }

  &__is-fixed {
    position: sticky;
    background: $color-white;
    animation: slideIn 650ms ease forwards;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);

    color: $color-oil;

    @keyframes slideIn {
      from {
        top: -100px;
      }
      to {
        top:0;
      }
    }
  }
}