.InputButton {
  height: 48px;
  font-size: 20px;
  font-family: Inter;
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    width: 400px;
    height: 100%;
    // border-radius: 6px 0px 0px 6px;
    border-radius: 4px;
    margin-right: 8px;
    border: 1px solid $color-oil;
    padding-left: 1.6rem;
    font-size: 1.6rem;
    color: $color-oil;
    flex: 0.6;
    max-width: 300px;
    // border-right: 0;
    font-family: Inter;
    font-weight: 500;
    // background: #f1f1f1;

    &:focus {
      outline: none;
    }
  }

  button {
    height: 100%;
    padding: 0 1.6rem;
    // border-radius: 0 6px 6px 0;
    border-radius: 4px;
    border: 1px solid #32757B;
    // border-left: 0;
    font-size: 1.6rem;
    color: $color-white;
    background: #32757B;
    font-family: Inter;
    font-weight: 500;
    cursor: pointer;

    transition: background ease 450ms;

    &:hover {
      cursor: pointer;
    }

    &.subscribed {
      background: #40C390;
    }
    // flex: 0.4;
    // max-width: 200px;
  }


  @include respond(phone) {
    flex-direction: column;
    height: auto;

    input {
      width: auto;
      border-right: 1px solid #333;
      border-radius: 4px;
      padding: 1.6rem;
      margin-bottom: 8px;
      max-width: initial;
      margin-right: 0px;
    }

    button {
      width: auto;
      border-left: 1px solid #32757B;
      border-radius: 4px;
      padding: 1.6rem;
      cursor: pointer;
    }
  }


  
   &__primary {
    input {
      background-color: $color-light-background;
      color: $color-oil;
      border: 1px solid $color-orange;

      &::placeholder {
        color: #6F6F6F;
        // font-family: monospace;
        // text-transform: uppercase;
      }
    }

    button {
      color: $color-white;
      background-color: $color-orange;
      border: 1px solid $color-orange;
      font-weight: 600;

      &.subscribed {
        background: #40C390;
        border: 1px solid #40C390;
        color: white;
      }
    }
  }
  
  &__green {
    input {
      background-color: $color-primary-green;
      color: $color-secondary-yellow;
      border: 1px solid $color-secondary-yellow;

      &::placeholder {
        color: #ffd86552;
      }
    }

    button {
      color: $color-primary-green;
      background-color: $color-secondary-yellow;
      border: 1px solid $color-secondary-yellow;
      font-weight: 600;

      &.subscribed {
        background: #40C390;
        border: 1px solid #40C390;
        color: white;
      }
    }
  }

  &__actionBar {
    justify-content: flex-end;
  }
}