.MockupBlock {
  @include mainContainer;
  justify-content: center;
  padding-top: 0;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;    
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    margin-bottom: 0;
  }

  &__desktop { 
    object-fit: contain;
    width: 64%;

    @include respond(phone) {
      width: 100%;  
    }
    // width: calc(70 - 3.2rem);
  }

  &__mobile {
    margin-right: 3.2rem;
    object-fit: contain;
    width: 30%;

    @include respond(phone) {
      width: 60%;
      margin-right: 0;  
    }
  }
}