.ModulesLibrary {
  @include mainContainer;
  margin-top: -14rem;

  @include respond(phone) {
    margin-top: -8.4rem;
  }
  
  &__item {
    width: calc(33% - (64px + 3.2rem));
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    background: white;
    font-family: Inter;
    padding: 1.6rem 3.2rem;
    padding-top: 2.4rem;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    margin-bottom: 3.2rem;
    border-radius: 6px;
    

     &:first-child {
      margin-left: 0;
    }

    &:nth-child(3n +1) {
      margin-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    @include respond(phone) {
      width: auto;
    }
  }

  &__title {
    font-size: 2.2rem;
    // text-align: center;
    font-weight: 600;
    margin:0;
    // margin-bottom: 0.8rem;
  }

  &__text {
    font-size: 1.6rem;
    // text-align: center;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__image {
    width: 100%;
    object-fit: contain;
    margin-bottom: 1.6rem;
    height: 9rem;
    object-position: left;
  }
}