.ProcessSection {
  @include mainContainer;
  flex-direction: column;
  background: #F5EAE3;

  &__title {
    max-width: 40rem;
    font-size: 3.2rem;
    color: $color-oil;
    line-height: 1.3;
    margin-bottom: 3.2rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__foldoutContainer {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    // min-height: 32rem;
  }

  &__imageContainer {
    max-width: 40rem;
    width: 100%;
    display: block;

    @include respond(phone) {
      display: none;
    }

    svg {
      height: 100%;
      width: 100%;

       circle {
        animation: circleAnimation infinite;
        animation-duration: 4s; /* or: Xms */
        animation-timing-function: ease; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
        animation-delay: 2s; /* or: Xms */
        fill: #e96e1f;

        @keyframes circleAnimation {
          0%  { transform: translate(18px, -23px);}
          20% { transform: translate(-40px, -23px);}
          40% { transform: translate(18px, 40px);}
          60% { transform: translate(98px, -23px);}
          80% { transform: translate(18px, -93px);;}
          100% { transform: translate(18px, -23px); }
        }
       }
    }
  }
}