.TenReasons {
  @include mainContainer;
  flex-direction: column;
  background: #F5EAE3;
  
  @include respond(over-max) {
    border-radius: 8px;
  }

  &__title {
    max-width: 40rem;
    font-size: 3.2rem;
    color: $color-oil;
    line-height: 1.3;
    margin-bottom: 3.2rem;
  }

  &__item-container {
    cursor: grab;
    width: 100%;
    outline: none;
    overflow: hidden;
  }

  .flickity-page-dots .dot {
    display: none;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    max-width: 332px;
    min-width: 332px;
    cursor: grab;

    @include respond(phone) {
      min-width: 250px;
      max-width: 70%;
    }
  }

  &__item-number {
    font-size: 3.8rem;
    font-weight: 700;
    font-style: italic;
  }

  &__item-title {
    font-size: 2.4rem;
    font-weight: 600;
  }

  &__item-text {
    font-size: 1.6rem;
    padding-right: 1.6rem;
  }
}