.TextSection {
  // width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;

  transition: transform ease 750ms, opacity 500ms ease ;


  @include respond(phone) { 
    flex-direction: column;
  }

  @include mainContainer;

  .highlighted {
    color: #E96E1F;
    text-decoration: underline;
  }

  &.right {
    flex-direction: row-reverse;

    @include respond(phone) { 
      flex-direction: column;
       margin-right: 0;
    }


    @include respond(tab-port) {
      .TextSection__img {
        margin-right: 3.2rem;
        margin-left: 0;
      }
    }
  }

  &__textContainer {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond(phone) {  
      margin-bottom: 3.2rem;
      max-width: inherit;
    }
  }

  &__title {
    font-size: 2.8rem;
    font-weight: 500;
    color: $color-oil;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  
  .Button {
    margin-top: 1.6rem;
  }

  &__text {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-oil;
  }

  &__img {
    max-width: 40rem;

    @include respond(tab-port) {
      margin-right: 0;
      margin-left: 3.2rem;
    }

    @include respond(phone) {  
      max-width: inherit;
      width: 100%;
      margin-left: 0;
    }
  }
}