.TitleBlock {
  @include mainContainer;
  color: $color-oil;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  max-width: 68rem;

  @include respond(phone) {
    margin-bottom: 0;  
    padding-bottom: 1.6rem;
    font-size: 2rem;
    text-align: left;
  }
}