.VideoThumb {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 7.2rem 9.8rem;
  padding-bottom: 3.2rem;
  padding-top: 4.8rem;
  color: $color-oil;
  flex-direction: column;

   @include respond(tab-land) {
      padding: 6rem  3.2rem;
    }

  @include respond(phone) {
    padding: 3.2rem 1.6rem;
    padding-bottom: 0rem;
    margin-bottom: 0;
  }

  &__thumbnail {
    border-radius: 1.6rem;

    @include respond(phone) { 
      width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: no-repeat;
    cursor: pointer;
  }

  &__button {
    border-radius: 3rem;
    margin-top: -3rem;
    background-color: #fff;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.06);
    padding: 2rem;
    font-weight: 600;
    cursor: pointer;

    @include respond(phone) {
      padding: 1.6rem;
    }

    span {
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 600;
      font-family: Inter;
      color: #333333;

      svg {
        width: 27px;
        height: 27px;
        margin-left: 10px;
        margin-top: 1px;

        path {
          fill: #333333;
        }
      }

      @include respond(phone) {
        font-size: 1.8rem;
      
      svg {
        width: 24px;
        height: 24px;
        margin-left: 8px;
      }
    }
    }
  }
}
