.Why {
  @include mainContainer;
  flex-direction: column;


  h3 {
    font-size: 3.2rem;
    line-height: 1.25;
    margin-bottom: 24px;
    font-weight: 700;
    max-width: 900px;
    color: $color-oil;

    @include respond(phone) {  
      font-size: 4rem;
      margin-bottom: 12px;
    }
  }

  span {
    font-size: 2rem;  
    // font-weight: 300;
    line-height: 1.2;
    margin-bottom: 32px;
    color: $color-oil;
    font-weight: 400;

    @include respond(phone) {  
      font-size: 1.8rem;
    }
  }
}