@import './abstracts/variables';
@import './abstracts/mixins';

@import './base/base';
@import './base/typography';

@import './components/header';
@import './components/inputButton';
@import './components/textSection';
@import './components/footer';
@import './components/foldout';
@import './components/processSection';

@import './pages/index.scss';
@import './pages/why';