@import './abstracts/variables';
@import './abstracts/mixins';

@import './base/base';
@import './base/typography';

@import './components/actionBar';
@import './components/button';
@import './components/cookieBar';
@import './components/featureCard';
@import './components/exampleSites';
@import './components/redirectBlock';
@import './components/header';
@import './components/listItem';
@import './components/introduction';
@import './components/inputButton';
@import './components/imageBlock';
@import './components/textSection';
@import './components/titleBlock';
@import './components/tenReasons';
@import './components/footer';
@import './components/foldout';
@import './components/processSection';
@import './components/modulesLibrary';
@import './components/mobileMenu';
@import './components/mockupBlock';
@import './components/subscribePanel';
@import './components/pageHeader';
@import './components/pricingCard';
@import './components/videoOverlay';
@import './components/videoThumb';

@import './pages/index.scss';
@import './pages/features';
@import './pages/why';
@import './pages/pricing';
@import './pages/legal';